@font-face {
   font-family: "Arizonia";
   src: url('../fonts/Arizonia-Regular.ttf');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Blackjack";
   src: url('../fonts/blackjack/blackjack.otf');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "New-Cicle";
   src: url('../fonts/New-Cicle/New_Cicle_Fina.ttf');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Euphoria";
   src: url('../fonts/euphoria-script/EuphoriaScript-Regular.otf');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Alex";
   src: url('../fonts/alex-brush/AlexBrush-Regular.ttf');
   font-weight: normal;
   font-style: normal;
}

body {
  font-family: "New-Cicle";
  font-size: 18px;
  background-color: #;

  overflow-x: hidden;

}

h1, h2 {
  font-family: "Alex";
}

h2 {
  font-size: 50px;
}

#home .image {
background: url(../img/James-6-edited.jpg)  no-repeat center center fixed;
    height:100vh;
    /*max-width:100vw; */ 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 /*   z-index: 1;*/
  }

.title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#home .title h1{
  color: black;/*
  text-transform: uppercase;*/
  margin: 0;
  font-size: 70px;
}

.fixed {
  position: fixed;
  top:0;
}

.absolute {
  position: absolute;
}


#navigation {
  /*position: absolute;
  top: 717px;*/
  /*position: fixed;*/
 /* position: absolute;*/
  width: 100%;
  height: 51px;
  line-height: 51px;
/*  background: #800040;*/
  background: rgba(128, 0, 64, 0.75);
  z-index: 3;
  word-wrap: break-word;
}
/* line 212, ../sass/screen.scss */
#navigation ul {
  overflow: hidden;
  zoom: 1;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
/* line 218, ../sass/screen.scss */
#navigation ul li {
  display: inline;
  margin-right: 30px;
}
/* line 222, ../sass/screen.scss */
#navigation ul li.last {
  margin: 0;
}
/* line 228, ../sass/screen.scss */
#navigation a {
  /*font-family: "brandon", sans-serif;*/
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
 /* font-size: 0.85714rem;*/
  letter-spacing: 1px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
/* line 238, ../sass/screen.scss */
#navigation .active a {
  color: #000000;
}

#navigation  a:hover {
  color: #bfbfbf;
}

#about {
  text-align: center;
  height: 300vh;
  position: relative;
}

#about .bg{
  /*background: url(../img/white-wood-edited.png) no-repeat center center;*/
  position: relative;
  top:0;
  left:20%;
  height:300vh;
  max-width: 60vw;
  background: url(../img/James-72.jpg) no-repeat center center fixed;
  background-size: 50%;
}

#about .groom-image{
  height: 200px;
  width: auto;
  background-image:url(../img/jabari.jpg);
}
#about .bride-image{
  height: 200px;
  width: auto;
  background-image:url(../img/jabari.jpg);
}


#about .himher{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}


#about h2 {
  text-align: center;
}
/*#about h2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#about p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}*/

#bridal-party {
  position:relative;
  top: 0;
  height: 100vh;
  overflow:hidden;
}

#bridal-party .groomsmen ,
#bridal-party .bridesmaids {
  /*position: absolute;
*/  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  text-align: center;
  z-index: -1;
/*  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

.bg{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    top:0;
    height: 100vh;
}

#bridal-party h2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#bridal-party .selector{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*#bridal-party .groomsmen .bg{
  background: url(../img/mint-paint-edited.png)  no-repeat top left fixed;

}

#bridal-party .bridesmaids .bg{
  background: url(../img/white-wood-edited.png)  no-repeat center center fixed;
}*/

#bridal-party .cover-left,
#bridal-party .cover-right {
  position: absolute;
  width: 50%;
  height: 50vh;
  top:50vh;
  transform: translate(0, -50%);
  box-shadow: 0px 0px 15px 0px #4d0028;

}

#bridal-party .cover-left a,
#bridal-party .cover-right a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Alex";
  text-decoration:none;
  font-size:30px;
  color:#fff;
  transition: all 0.2s ease-in;

}

#bridal-party .cover-left a:hover,
#bridal-party .cover-right a:hover{
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  font-size: 35px;
  text-shadow: 5px 0px 20px white;
  color: #fff;
}


#bridal-party .cover-left {
  left: 0;
  background: #ffcccc; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffcccc, #ffb3b3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffcccc, #ffb3b3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffcccc, #ffb3b3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffcccc, #ffb3b3); /* Standard syntax */
  z-index: 1;
}

#bridal-party .cover-right {
  left: 50%;
  background: #660033; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#660033, #800040); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#99004d, #800040); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#99004d, #800040); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#660033, #800040); /* Standard syntax */
  z-index: 2;
}

#bridal-party .back {
  position: absolute;
  bottom: -20%;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 0;
}


.selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.groomsman1{background-image:url(../img/jabari.jpg);}
.groomsman2{background-image:url(../img/jabari.jpg);}
.groomsman3{background-image:url(../img/jabari.jpg);}
.groomsman4{background-image:url(../img/jabari.jpg);}

.bridesmaid1{background-image:url(../img/jabari.jpg);}
.bridesmaid2{background-image:url(../img/jabari.jpg);}
.bridesmaid3{background-image:url(../img/jabari.jpg);}
.bridesmaid4{background-image:url(../img/jabari.jpg);}

.selector input:active +.party-selector{
  opacity: .9;
  width:200px;height:200px;
}
.selector input:checked +.party-selector{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;

  width:200px;height:200px;
}
.party-selector{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:150px;height:150px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(.6) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(.6) opacity(.7);
            filter: brightness(1.8) grayscale(.6) opacity(.7);
}
.party-selector:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.3s;
  
}

input[type="radio"]:checked ~ .reveal-if-active,
input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px; /* little bit of a magic number :( */
  overflow: visible;
}

#festivities {
  position: relative;
  top: 0;
  height: 100vh;
}

#festivities h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#festivities .info {
  position: absolute;
  top:0;
  background: rgba(256, 256, 256, 0.5);
  height: 100vh;
  width: 100vw;
}

#festivities .live-map {
  position: absolute;
  background-color: #ffffff;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

#festivities .close {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, -50%);
  left: 50%;
}

#gallery .slides-container {
  padding: 100px;
  display: none;
/*  background: url(../img/white-wood-edited.png) no-repeat center center;
  background-size: cover;*/
}


/* Center the slideshow */
#gallery {
  /*margin: 0 auto*/
  height: 110vh;
  width: auto;
  position: relative;
  z-index: -1;
   /*background: url(../img/white-wood-edited.png) no-repeat center center;*/
  background-size: cover;
}

#gallery h2 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*#about .bg{
  background: url(../img/white-wood-edited.png) no-repeat center center;
  background-size: cover;
}*/

img {
    /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

    /* Show active item in the pagination */
/*.slidesjs-pagination .active {
   color:red;
}*/

/*.slidesjs-pagination {
      margin: 6px 0 0;
      float: center;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }
*/

.slidesjs-pagination {
  margin: 6px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 20px;
  height: 0;
  padding-top: 20px;
  /*background-image: url(../img/jabari.jpg);*/
  /*background-position: 0 0;*/
  float: left;
  overflow: hidden;
  background-color: #e6e6e6;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  /* background-position: 0 -13px;*/
  background-color:  #b3ffd9;
}

.slidesjs-pagination li a:hover {
  /*background-position: 0 -26px*/
  background-color:  #b3ffd9;
}

    /*#gallery a:link,
    #gallery a:visited {
      color: #333
    }

    #gallery a:hover,
    #gallery a:active {
      color: #9e2020
    }*/

#gallery .slidesjs-navigation {
  margin-top:3px;
  left:50%;
}

#gallery .slidesjs-previous {
  margin-right: 5px;
  float: left;
}

#gallery .slidesjs-next {
  margin-right: 5px;
  float: left;
}

#gallery .left-button {
  background-image: url(../img/jabari.jpg);
  width: 40px;
  height: 40px;
}

#gallery .right-button {
  background-image: url(../img/jabari.jpg);
  width: 40px;
  height: 40px;
}

.navbar {
  overflow: hidden
}